<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.fatminmin.xposed.minminguard" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MinMinGuardIntro"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <provider
            android:name=".MinMinProvider"
            android:authorities="tw.fatminmin.xposed.minminguard"
            android:exported="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="11b3bd0c3467e4848618141b36a73619c7ef4843" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
